<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body, p {
        margin: 10px 0;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <p>Hello {{name}}.</p>
    <p>Thank you for your grant application.</p>
    <p>We have received it and will let you know once it has been reviewed.</p>
    <p><a href="{{applicantUrl}}">Click here</a> to view the status of your application at any time.</p>
    <p>Thanks!</p>
    <p>The Community Fund Team</p>
  </body>
</html>
