<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body, p {
        margin: 10px 0;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <p>Hello there.</p>
    <p>It looks like you want to reset your password on Community Fund.</p>
    <p>If you requested this change, please click <a href="{{url}}">this link</a> to update your password.</p>
    <p>Thanks!</p>
    <p>The Community Fund Team</p>
  </body>
</html>
