<!DOCTYPE html>
<html>
  <head>
    <style type="text/css">
      body, p {
        margin: 10px 0;
        padding: 0px;
      }
    </style>
  </head>
  <body>
    <p>Hello there.</p>
    <p>Thank you for signing up on Community Fund :)</p>
    <p>Please click <a href="{{url}}">this link</a> to confirm your account.</p>
    <p>Thanks!</p>
    <p>The Community Fund Team</p>
  </body>
</html>
