@import '../../components/variables.css';

.container {
  width: 100%;
  margin: auto;
}

.wrapper {
  max-width: 920px;
  padding: 0 20px;
  margin: auto;
}

.firstContainer {
  height: 100vh;
  background-image: url('/img/glacier.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  padding-bottom: 20vh;
}

.logo {
  width: 40%;
  min-width: 200px;
  margin-top: 40px;
}

.headline {
  max-width: 550px;
  margin-top: 50vh;
  font-size: 50px;
  font-family: 'RisingSunHeavy', sans-serif;
  color: #fff;
  line-height: 60px;
  letter-spacing: 2px;
}

.slogan {
  margin-top: 35px;
  font-size: 20px;
  color: #fff;
  font-family: 'PT Sans', sans-serif;
}

@media (max-width: 880px) {
  .firstContainer {
    height: 600px;
  }

  .headline {
    margin-top: 200px;
    line-height: 45px;
    font-size: 40px;
  }
}

.applyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 50px;
  text-decoration: none;
  background: #2677c2;
  border-radius: 4px;
  font-family: 'RisingSunDemiBold', sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

.applyButton:hover {
  background: #1c578e;
  transition: background 0.4s;
}

.secondContainer {
  background: #f5f5f5;
}

.showcaseContainer {
  display: flex;
  flex-direction: row;
}

.showcaseLeft {
  display: flex;
  flex-direction: column;
  flex: 11 0 0%;
  margin-top: 107px;
}

.showcaseHeadline {
  width: 100%;
  font-size: 30px;
  color: #2c82c9;
  font-family: 'RisingSunHeavy', sans-serif;
}

.showcaseText {
  max-width: 550px;
  min-width: 290px;
  margin-top: 30px;
  font-size: 20px;
  color: #909090;
  line-height: 28px;
}

.showcaseRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 5 0 0%;
  height: 528px;
  margin-top: 20px;
}

.hands {
  width: auto;
  height: 300px;
}

@media (max-width: 880px) {
  .showcaseContainer {
    flex-direction: column;
  }

  .showcaseRight {
    margin-top: 40px;
  }

  .secondContainer {
    min-height: 506px;
  }

  .showcaseLeft {
    margin-top: 10px;
  }
}

.thirdContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-image: url('/img/rvk.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.testemonyContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.testimonyHeadline {
  max-width: 700px;
  font-size: 50px;
  font-weight: 300;
  font-family: 'RisingSunHeavy', sans-serif;
  color: #fff;
  text-align: center;
  letter-spacing: 2px;
  line-height: 60px;
}

.fourthContainer {
  padding: 40px 0;
  background: #f5f5f5;
}

.backerCategory {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  margin-top: 60px;
  margin-bottom: 60px;
}

.backerContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
  max-width: 800px;
}

.backerBox {
  display: flex;
  flex-direction: column;
  flex: 11;
  margin-left: 30px;
}

.backerInfo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/*
.backerName {
  margin-right: 10px;
  font-size: 30px;
  color: #2c82c9;
  font-family: 'RisingSunHeavy', sans-serif;
  text-decoration: none;
}
*/

.backerText {
  margin-top: 5px;
  font-size: 20px;
  color: #909090;
  line-height: 28px;
}

.backerImageContainer {
  display: flex;
  flex: 3;
  justify-content: center;
  align-items: center;
}

.backerImage {
  width: 200px;
  height: 100%;
  margin-left: 50px;
}

@media (max-width: 880px) {
  .backerContainer {
    flex-direction: column-reverse;
  }

  .backerBox {
    margin-top: 30px;
  }

  .backerImage {
    margin-left: 0;
    width: 250px;
  }
}

.calculatorContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 240px;
  padding: 20px 0;
  margin-top: 80px;
  background: #fff;
}

.calculatorText {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5px;
  font-size: 30px;
  color: #646464;
  font-family: 'RisingSunRegular', sans-serif;
  line-height: 40px;
}

.calculatorTextUpper {
  margin-top: 40px;
}

.calculatorCost {
  color: #ffc14b;
  font-size: 32px;
  font-weight: 800;
  font-family: 'RisingSunHeavy', sans-serif;
}

.calculatorTryButton {
  margin-top: 40px;
}

@media (max-width: 880px) {
  .calculatorContainer {
    margin-top: 35px;
  }

  .calculatorTextUpper {
    margin-top: 10px;
  }
}

/* Super small phone */
@media (max-width: 350px) {
  /*
  .backerName {
    font-size: 26px;
  }
  */

  .calculatorText {
    font-size: 28px;
    line-height: 36px;
  }
}
