@import '../../components/variables.scss';

.container {
  width: 100%;
  z-index: 10;
}

.logo {
  width: 30%;
  min-width: 200px;
  max-width: 400px;
  margin-top: 40px;
}

/*
.link {
  margin-left: 20px;
  font-size: 1.2em;
  font-weight: 500;
  text-decoration: none;
  color: white;
}
*/
