.desktop {
  display: none !important;

  @media (min-width: 510px) {
    display: block !important;
  }
}

.mobile {
  display: none !important;

  @media (max-width: 509px) {
    display: block !important;
  }
}
