@import '../../components/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #262626;
  color: white;
}
