@import '../../components/reset.scss';
@import '../../components/variables.scss';

.root {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #262626;
  color: white;
  font-size: 1.8rem;
  text-transform: uppercase;
  font-family: $lato;
}
