@import '../variables.css';

.footer {
  height: 200px;
  width: 100%;
  background: #404040;
  border-top: 4px solid #2c2c2c;
}

.items {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 150px;
}

.item {
  display: flex;
  flex: 2 1 100px;
  align-items: flex-end;
  height: 100px;
}

.itemInner {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-width: 100px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.contactIcon {
  width: 43px;
  height: 32px;
  margin-bottom: 18px;
}

.teamIcon {
  width: 40px;
  height: 53px;
  margin-bottom: 12px;
}

.copyright {
  display: flex;
  justify-content: center;
  flex: 1;
  text-align: center;
  color: #818486;
  font-size: 12px;
}
